In [1]:
from pyspark.sql.types import *

#Domi twn metavlitwn sto kathe arxeio

schema = StructType([
    StructField("Date", DateType()),
    StructField("Open", FloatType()),
    StructField("High", FloatType()),
    StructField("Low", FloatType()),
    StructField("Close", FloatType()),
    StructField("Volume", IntegerType()),
    StructField("OpenInt", IntegerType())
])


# Diavazoume ta 3 arxeia 
# Label "0" : Metoxi "agn"
# Label "1" : Metoxi "ainv"
# Label "2" : Metoxi "ale"

df1 = spark.read.csv(['agn.us.txt'], header=True, schema=schema)
df1 = df1.select('*', (df1.OpenInt + 0).alias('Label'))

df2 = spark.read.csv(['ainv.us.txt'], header=True, schema=schema)
df2 = df2.select('*', (df2.OpenInt + 1).alias('Label'))

df3 = spark.read.csv(['ale.us.txt'], header=True, schema=schema)
df3 = df3.select('*', (df3.OpenInt + 2).alias('Label'))

#Sunenwsi twn 3 dataframes

df = df1.union(df2).union(df3)

df.show()
df.printSchema()

+----------+------+------+------+------+-------+-------+-----+
|      Date|  Open|  High|   Low| Close| Volume|OpenInt|Label|
+----------+------+------+------+------+-------+-------+-----+
|2005-01-03| 32.31| 32.31|31.527|31.616|1027044|      0|    0|
|2005-01-04|31.527|31.616| 31.22|31.338|1927762|      0|    0|
|2005-01-05|30.971|31.051|30.714|30.843| 943399|      0|    0|
|2005-01-06|30.843|31.398|30.764| 31.26| 662398|      0|    0|
|2005-01-07| 31.26| 31.26|30.456|30.566|1087886|      0|    0|
|2005-01-10|30.506| 31.23|30.486|30.863| 896381|      0|    0|
|2005-01-11|30.843|30.903|30.199|30.377| 835841|      0|    0|
|2005-01-12|30.456|30.466|29.872| 30.07|1476041|      0|    0|
|2005-01-13| 30.07|30.605|29.882|30.129| 772578|      0|    0|
|2005-01-14|30.189|30.337| 30.07|30.239| 453538|      0|    0|
|2005-01-18| 30.09|30.724|29.862|30.496| 592979|      0|    0|
|2005-01-19|30.506|30.605|29.852| 30.08| 694685|      0|    0|
|2005-01-20| 30.06|30.407| 30.05|  30.1| 858644|      0|    0|
|2005-01-21|30.129|30.307|29.584|29.723|1040463|      0|    0|
|2005-01-24|29.763|29.931|29.287|29.346| 920193|      0|    0|
|2005-01-25|29.465|29.644|29.188|29.287| 555647|      0|    0|
|2005-01-26|29.326|29.495|29.168|29.336| 874385|      0|    0|
|2005-01-27|29.217|29.733|  29.0|29.653| 636871|      0|    0|
|2005-01-28|29.614|29.921|29.198|29.644| 771367|      0|    0|
|2005-01-31|29.872|30.149|29.317|29.564| 884878|      0|    0|
+----------+------+------+------+------+-------+-------+-----+
only showing top 20 rows

root
 |-- Date: date (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- OpenInt: integer (nullable = true)
 |-- Label: integer (nullable = true)

In [2]:
from pyspark.sql.functions import *
import datetime

print ("O mesos oros stis times anoigmatos, kleisimatos kai \
       ogkou sunallagwn gia kathe imerologiako mina gia kathe metoxi einai:\n")

df_final = df.groupBy("Label", month("Date").alias("month")). \
        agg(round(mean("Open"), 2).alias("Open Avg"), \
        round(mean("Close"), 2).alias("Close Avg"), \
        round(mean("Volume"), 2).alias("Volume Avg")). \
        orderBy("Label", "month", ascending= True).show(40)

O mesos oros stis times anoigmatos, kleisimatos kai ogkou sunallagwn gia kathe imerologiako mina gia kathe metoxi einai:

+-----+-----+--------+---------+----------+
|Label|month|Open Avg|Close Avg|Volume Avg|
+-----+-----+--------+---------+----------+
|    0|    1|  101.83|    101.8| 1796786.0|
|    0|    2|  106.11|   106.37|2018339.11|
|    0|    3|  108.97|   108.92|1954400.08|
|    0|    4|  104.97|   104.86|2048475.32|
|    0|    5|  106.59|   106.52|2020206.47|
|    0|    6|  110.06|   110.13|1611504.93|
|    0|    7|  113.99|   114.05|1486405.29|
|    0|    8|  112.94|   112.76|1592136.87|
|    0|    9|  113.43|   113.29| 1720100.3|
|    0|   10|  109.94|   109.84| 2045412.4|
|    0|   11|  105.94|   105.72|2363413.68|
|    0|   12|  107.03|   107.07|1565874.46|
|    1|    1|    5.96|     5.96| 2664324.3|
|    1|    2|    5.91|     5.91|3277507.88|
|    1|    3|    6.04|     6.04|3266939.43|
|    1|    4|    6.21|     6.21| 2431237.6|
|    1|    5|    6.25|     6.25|2611925.72|
|    1|    6|    6.23|     6.22| 2798179.4|
|    1|    7|    6.11|     6.12| 2189656.0|
|    1|    8|    6.28|     6.29|2754273.91|
|    1|    9|    6.35|     6.35|2706609.69|
|    1|   10|    6.21|      6.2|2141400.12|
|    1|   11|    6.11|      6.1|2523151.99|
|    1|   12|    5.93|     5.92|2916861.64|
|    2|    1|    37.6|    37.63| 223401.15|
|    2|    2|   38.36|    38.35| 240881.88|
|    2|    3|   38.04|    38.07| 253724.56|
|    2|    4|   38.59|    38.61| 240209.06|
|    2|    5|   39.38|    39.38| 244737.15|
|    2|    6|   39.89|    39.92| 257443.88|
|    2|    7|   40.27|    40.26|  209357.9|
|    2|    8|   40.11|    40.09| 245987.44|
|    2|    9|   39.87|    39.86| 226992.71|
|    2|   10|   40.07|    40.06| 235927.18|
|    2|   11|   38.16|    38.13| 225893.26|
|    2|   12|   37.39|    37.41|  234291.2|
+-----+-----+--------+---------+----------+

In [3]:
df.write.csv('dataframe.csv', header = 'true')
#df.write.csv('dataframe.csv', header = 'true')